* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
}
h1 {
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
}
h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
a {
    text-decoration: none;
    color: #252421;
}