/* @mixin respondTo($_media) {
    @if $_media == phones {
        @media (max-width: 479px) { @content; }
    }
    @else if $_media == wide-phones {
        @media (min-width: 480px) and (max-width: 767px) { @content; }
    }
    @else if $_media == tablets {
        @media (min-width: 768) and (max-width: 991px) { @content; }
    }
    @else if $_media == small-desktops {
        @media (min-width: 992px) and (max-width: 1199px) { @content; }
    }
    @else if $_media == lg-desktops {
        @media (min-width: 1200px) and (max-width: 1440px) { @content; }
    }
} */

@media (min-width: 1200px) and (max-width: 1440px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-form {
        padding: 2% 5% 2% 5%;
        width: 46%;
    }
    .services-list__item {
        width: 49%;
        margin-right: 1%;
        margin-bottom: 15px;
        &:nth-child(3n) {
            margin-right: 1%;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-form {
        padding: 2% 4% 2% 4%;
        width: 46%;
    }
    .services-list {
        width: 80%;
        &__item {
            width: 49%;
            margin-right: 1%;
            margin-bottom: 15px;
            &:nth-child(3n) {
                margin-right: 1%;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    .header-navbar__number {
        background-image: url(../../assets/images/tel.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 38px;
        height: 38px;
    }
    .header-navbar__menu-item {
        width: 180px;
    }
    .header-navbar__logo {
        width: 150px;
        height: 30px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .header-form {
        padding: 8% 3% 8% 3%;
        width: 82%;
    }
    .services-list {
        width: 90%;
    }
    .services-list__item {
        width: 49%;
        margin-right: 1%;
        margin-bottom: 15px;
        &:nth-child(3n) {
            margin-right: 1%;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    .services-list__item-connect {
        flex-wrap: wrap;
    }
    .services-list__item-connect-price {
        width: 51%;
    }
    .services-list__item-connect-btn {
        width: 80%;
    }
    .header-navbar__number {
        background-image: url(../../assets/images/tel.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 479px) {
    .header-form {
        padding: 8% 3% 8% 3%;
        width: 93%;
    }
    .header-form__content-checkbox {
        flex-wrap: wrap;
    }
    .services-list {
        width: 93%;
    }
    .services-list__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px !important;
    }
    .header-navbar__number {
        background-image: url(../../assets/images/tel.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 38px;
        height: 38px;
    }
}